<header>
    <nav>
        <app-nibolan-menu></app-nibolan-menu>
    </nav>
</header>
<main>
    <section id="status-bar">
        <app-nibolan-header></app-nibolan-header>

        <button class="pull-right"
            (click)="showNotifications = !showNotifications"
            [class.active]="showProfile">
                N
        </button>
        <button class="pull-right"
            (click)="showProfile = !showProfile"
            [class.active]="showProfile">
                U
        </button>
    </section>

    <section id="main-section">

        <div class="card" id="thingOne" *ngIf="cards.thingOne">
            <app-nibolan-thing-one></app-nibolan-thing-one>
        </div>

        <div class="card" id="thingTwo" *ngIf="cards.thingTwo">
            <app-nibolan-thing-two></app-nibolan-thing-two>
        </div>

        <div class="card" id="calendar" *ngIf="cards.calendar">
            <app-nibolan-calendar></app-nibolan-calendar>
        </div>

    </section>

</main>

<div class="overlay" [class.visible]="showProfile">
    <app-nibolan-user-profile></app-nibolan-user-profile>
</div>
<div class="overlay" [class.visible]="showNotifications">
    <app-nibolan-notifications></app-nibolan-notifications>
</div>
